<section class="resume-section">
  <div class="resume-section-content">
    <h1 class="mb-0">
      Novo
      <span class="text-primary">Invoice</span>
    </h1>
    <div class="subheading mb-2">
      Preencha o formulário abaixo para gerar sua 
      <a href="#">Invoice</a>
    </div>
    <div class="subheading mb-2">
      <%= render 'form' %>
    </div>
  </div>
</section>
